= render upper_panel_path

%h2= t('.resend_unlock_instructions')
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  %table.center
    %tr
      %td.right
        = f.label :email
      %td.left
        = f.email_field :email, autofocus: true
  %table.center
    %tr
      %td
        = f.submit t('.resend_unlock_instructions')

= render "devise/shared/links"
