%h2.page-header= t(:shop)
%table.center
  %tr
    %td
      #breadcrumbs
        %h4.left.top= presenter.header
      %table.books
        = render partial: 'line', collection: presenter.lines, as: :line
    %td.categories
      = render categories_path
.center
  = paginate presenter.books
