%div
  .page-header
    %h1
      = link_to book.title, book
      %small
        = presenter.by_authors book
        = presenter.authors_links book
  %table.center
    %tr
      %td
        = presenter.image book, class: 'large'
      %td.top
        %table
          %tr
            %td.left
              = presenter.description book
          %tr
            %table
              %tr
                %td
                  = book.decorated_price
                %td
                  = form_for @form do |f|
                    = f.hidden_field :book_id, value: book.id
                    %table
                      %td
                        = f.number_field :quantity, value: 1, in: 1..book.instock, class: 'short'
                      %td
                        = f.submit t(:add_to_cart)