%h1.page-header= t(:settings)
%table.throughout
  %tr
    %th.page-header.left
      = t(:billing_address)
    %th.left.page-header
      = t(:shipping_address)
  %tr
    %td.bottom
      #billing_address
        = render address_path, type: :default_billing_address
    %td.bottom
      #shipping_address
        = render address_path, type: :default_shipping_address
  %tr
    %th.left.page-header
      = t(:email)
    - unless presenter.facebook?
      %th.left.page-header
        = t(:password)
  %tr
    %td.bottom
      = render user_edit_email_path
    - unless presenter.facebook?
      %td.bottom
        = render user_edit_password_path
  %tr
    %td.bottom
      = button_to t(:please_remove_my_account), registration_path(resource_name),
       method: :delete, class: 'sett-btn-remove btn red'
