%h1.page-header= t(:settings)
%table.throughout
  %tr
    %th.page-header.left
      = t(:billing_address)
    %th.left.page-header
      = t(:shipping_address)
  %tr
    %td.top
      #billing_address
        = render address_path, type: :default_billing_address
    %td.top
      #shipping_address
        = render address_path, type: :default_shipping_address
  %tr
    %th.left.page-header
      = t(:email)
    %th.left.page-header
      = t(:password)
  %tr
    %td.top
      = render user_edit_email_path
    %td.top
      = render user_edit_password_path
