- unless public_send(:"orders_#{method}", current_user).empty?
  %h2.page-header= t(method)
  %table.throughout
    %tr
      %th= t(:number)
      %th= t(:completed_at)
      %th= t(:total)
    = render partial: 'order_info', collection: public_send(:"orders_#{method}", current_user), as: :order
