- unless public_send(:"orders_#{method}", current_user).empty?
  %table.center.left
    %tr
      %td.underline
        %h2= t(method)
  %table.underline-thin.center
    %tr
      %th= t(:number)
      %th= t(:completed_at)
      %th= t(:total)
    = render partial: 'order_info', collection: public_send(:"orders_#{method}", current_user), as: :order