%table.center
  %tr
    %td.right
      = presenter.header_before :payment
    %td.underline
      = t(:payment)
    %td.left
      = presenter.header_after :payment
= form_for presenter.order, url: payment_order_path, method: :put do |ff|
  %table.center
    %tr
      %th
        %h2= t(:credit_card)
      %th
      %th
        = t(:order_summary)
    %tr
      %td
        = render 'credit_card_form'
      %td.top.right
        = render 'order_form'
    %tr
      %td
        = ff.submit t(:save_and_continue)