%h1.page-header= t(:orders)
- unless presenter.order_in_progress_items.empty?
  %h2.page-header= t(:in_progress)
  %table.throughout
    %tr
      %th
      %th= t(:book)
      %th= t(:price)
      %th= t(:qty)
      %th= t(:total)
    - presenter.order_in_progress_items.each do |order_item|
      %tr
        %td
          = image_tag order_item.book.image, class: 'small'
        %td
          %table.left
            %tr
              %td
                %h2= order_item.book.title
            %tr
              %td
                = order_item.book.short_description
        %td
          = price(order_item.price)
        %td
          = order_item.quantity
        %td
          = price(order_item.total)
  %table.page-header.throughout.right
    %tr
      %td
        = "#{t(:subtotal)}: #{price(current_order.subtotal)}"
  %table.center
    %tr
      %td.left
        = button_to t(:go_to_cart), edit_order_path(current_order.id), method: :get
= render partial: 'orders', collection: presenter.methods, as: :method
