= link_to "<< #{t(:back_to_orders)}", orders_path
%h1.page-header
  = t(:order)
  %small
    = presenter.order.id
    = presenter.order.state
%table.underline.center
  %tr
    %th
    %th= t(:book)
    %th= t(:price)
    %th= t(:qty)
    %th= t(:total)
  = render partial: 'order_item_info', collection: presenter.order.order_items, as: :order_item
%table.page-header.throughout.right
  %tr
    %td
      = "#{t(:subtotal)}: #{price(presenter.order.subtotal)}"
  %tr
    %td
      = "#{t(:shipping)}: #{price(presenter.order.delivery.price)}"
%table.throughout.right
  %tr
    %td
      = "#{t(:order_total)}: #{price(presenter.order.total)}"
