= form_for current_user, url: user_registration_path, html: { method: :put } do |f|
  = devise_error_messages!
  %table.fixed
    %tr
      %th.right.hundred
        = f.label :current_password
      %td.left
        = f.password_field :current_password
    %tr
      %th.right
        = f.label :password
      %td.left
        = f.password_field :password
  %table.center
    %tr
      %td
        = f.submit t(:save)